.Div{
    display: grid;
    margin-left: 8%;
    .button{
        max-width: 200px;
        font-weight: 300;
        font-family: sans-serif;
        justify-self: center;
        font-size: small;
        box-shadow: grey 0px 4px 10px;
        border-radius: 40px;
        background-color: rgb(15, 15, 209);
    }
    // .per1 {
    //     margin-bottom: 8%;
    //    visibility: hidden;
    //     grid-row-start: 1;
    //     grid-column-start: 1;
    //     grid-row-end: 2;
    //     grid-column-end: 2;
    // }
    // .per2 {
    //     margin-bottom: 8%;
    //    visibility: hidden;
    //     grid-row-start: 2;
    //     grid-column-start: 1;
    //     grid-row-end: 3;
    //     grid-column-end: 2;
    // }
    // .per3 {
    //     margin-bottom: 8%;
    //    visibility: hidden;
    //     grid-row-start: 3;
    //     grid-column-start: 1;
    //     grid-row-end: 4;
    //     grid-column-end: 2;
    // }
    // .per4 {
    //     margin-bottom: 8%;
    //    visibility: hidden;
    //     grid-row-start: 1;
    //     grid-column-start: 2;
    //     grid-row-end: 2;
    //     grid-column-end: 3;
    // }
    // .per5 {
    //     margin-bottom: 8%;
    //    visibility: hidden;
    //     grid-row-start: 2;
    //     grid-column-start: 2;
    //     grid-row-end: 3;
    //     grid-column-end: 3;
    // }
    // .per6 {
    //     margin-bottom: 8%;
    //    visibility: hidden;
    //     grid-row-start: 3;
    //     grid-column-start: 2;
    //     grid-row-end: 4;
    //     grid-column-end: 3;
    // }
    // .per7 {
    //     margin-bottom: 8%;
    //    visibility: hidden;
    //     grid-row-start: 1;
    //     grid-column-start: 3;
    //     grid-row-end: 2;
    //     grid-column-end: 4;
    // }
    // .per8 {
    //     margin-bottom: 8%;
    //    visibility: hidden;
    //     grid-row-start: 2;
    //     grid-column-start: 3;
    //     grid-row-end: 3;
    //     grid-column-end: 4;
    // }
    // .per9 {
    //     margin-bottom: 8%;
    //    visibility: hidden;
    //     grid-row-start: 3;
    //     grid-column-start: 3;
    //     grid-row-end: 4;
    //     grid-column-end: 4;
    // }
  

}