

.Nad{
    color: gray;
}
.Div {
    margin-right: 11%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: grey 0px 5px 8px;
    .Form{
        min-height: 500px;
        max-height: 500px; 
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;
        .icon{
            align-self: flex-start;
            margin-top: 10%;
        }
        .divko{
            margin: 10%;
            .user{
                color: rgb(95, 89, 89);
                font-size: medium;
            }
            .text{
                font-family: sans-serif;
                color: rgb(163, 159, 159);
                font-weight: 100;
            	overflow: hidden;
            }
        }
        .mat-list-item {
            height: auto !important;
           margin: 5px;
        }
    }
    .BtnClear{
        align-self: flex-end;
        background-color: rgb(15, 15, 209);
        box-shadow: grey 0px 4px 10px;
        color: white;
        border-radius: 40px;
        font-size: small;
        float: right;
        max-width: fit-content;
        margin: 5%;
    }
    
}